
/* <--- Created by Jack F. Perry, Jr. ---> */

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 1s, 2s;
    animation-duration: 1s, 2s;
    -webkit-animation-delay: 0s, .5s;
    animation-delay: 0s, .5s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal;  
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s, 2s;
    animation-duration: 1s, 2s;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    -webkit-animation-duration: 2s, 3s;
    animation-duration: 2s, 3s;
    -webkit-animation-delay: 0s, .5s;
    animation-delay: 0s, .5s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.rollIn {
    -webkit-animation-name: rollIn;
     animation-name: rollIn;
    -webkit-animation-duration: .5s, 1s;
    animation-duration: .5s, 1s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

/* <--- Styles for main body html and content (mobile first) ---> */

html {
  height: 100%;
  color: rgb(0,0,0);
  box-sizing: border-box;
  font-family: "Raleway", serif;
}

header {
  position: fixed;
  top: 5px;
  left: 20%;
}

#background-image {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: rgb(255,255,255);

  /******************************
  background: url("images/backgroundLightning.jpg") no-repeat center center;
  background-attachment: fixed !important;
  ******************************/

  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#inputOpen {
  position: fixed;
  color: rgba(0,0,0,.1);
  top: 22%;
  left: 30%;
  text-align: center;
  cursor: default;
}

#inputSubmit {
  float: right;
  margin: 5% 2%;
  padding: 1%;
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
  cursor: default;
}

#inputClose {
  float: right;
  margin: 5% 0;
  padding: 1%;
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
  cursor: default;
}

#dataSent {
  text-align: center;
  margin-top: 25%;
  font-weight: bolder;
  color: rgb(220,20,20);
}

#inputClose:hover {
  color: rgb(255,255,255);
  background-color: rgb(220,20,20);
  transition: all .5s ease-in-out;
}  
  
#inputSubmit:hover {
  color: rgb(255,255,255);
  background-color: rgb(220,20,20);
  transition: all .5s ease-in-out;
}

#inputOpen:hover {
  color: rgba(0,0,0,1);
  font-weight: bolder;
  transition: all .5s ease-in-out;
}

#inputForm {
  display: inline-block;
  margin: 2% auto 0;
  text-align: left;
  width: 50%;
}

#inputForm input[type="text"] {
  float: right;
  text-align: left;
  width: 100px;
  height: 20px;
  border-bottom: 1px solid rgb(0,0,0);
}

#height, #weight, #gender, #origin {
  float: right;
}

#floating-image {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 25% !important;
  z-index: -1;
}

#main-content {
  text-align: center; 
  width: 100%;  
  padding-top: 7em;
  margin-bottom: 1em;
}

#title {
  position: fixed;
  top: 1%;
  left: 22.5%;
}

#title img {
  width: 200px;
  height: auto;
}
/* <--- End of styles for main body html and content ---> */

/* <--- Styles for search box ---> */
input[type="text"] {
  text-align: center;
  background: rgba(255,255,255,.0);
  border: none;
  border-bottom: 2px solid rgb(0,0,0);
  font-size: 16pt;
  height: 20px;
  width: 200px;
}

#char-search {
  position: fixed;
  top: 10%;
  left: 15%;
  width: 70%;
  background: rgba(255,255,255,0);
  color: rgb(0,0,0);
  border: none;
  margin: auto;
  transition: all .2s ease-in-out;
  overflow: hidden;
}
/* <--- End of styles for search box ---> */

/* <--- Styles for character info card ---> */
#char-card {
  position: relative;
  width: 90%;
  background: rgb(255,255,255);
  color: rgb(0,0,0);
  border-radius: 5px;
  margin: 5em auto 4em;
  transition: all .2s ease-in-out;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgb(0,0,0);
  z-index: 1000;
}

#char-info {
  margin: 5px;
  text-align: left;
  float: left;
  line-height: 1px;
  letter-spacing: 0px;
}

#description {
  margin: 5px;
  text-align: left;
  float: left;
  line-height: 14px;
}

#char-image {
  display: inline-block;
  float: right;
  margin: 5px;
  height: auto;
  width: 100px;
}

#char-image img {
  display: inline-block;
  float: right;
  margin: 5px;
  max-height: 100%;
  max-width: 100%;
}
/* <--- End of styles for character info card ---> */

/* <--- Styles for footer ---> */
footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  display: inline-block;
  font-size: 6pt;
  color: rgb(0,0,0);
  text-align: center;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 1em;
  vertical-align: middle;
  letter-spacing: 3px;
}
/* <--- End of styles for footer ---> */

/* <--- Animation to control the floating image ---> */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block !important;
  vertical-align: middle !important;
  -webkit-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0) !important;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-animation-name: hvr-hang-sink, hvr-hang !important;
  animation-name: hvr-hang-sink, hvr-hang !important;
  -webkit-animation-duration: 1s, 2s !important;
  animation-duration: 1s, 2s !important;
  -webkit-animation-delay: 0s, .3s !important;
  animation-delay: 0s, .3s !important;
  -webkit-animation-timing-function: ease-out, ease-in-out !important;
  animation-timing-function: ease-out, ease-in-out !important;
  -webkit-animation-iteration-count: 1, infinite !important;
  animation-iteration-count: 1, infinite !important;
  -webkit-animation-fill-mode: forwards !important;
  animation-fill-mode: forwards !important;
  -webkit-animation-direction: normal, alternate !important;
  animation-direction: normal, alternate !important;
}
/*<--- End of animation for floating image --->*/

/*<-- Media query for tablet view --->*/

@media only screen and (min-width: 1024px) and (max-width: 1249px) {
  
  #title {
    position: fixed;
    top: 2%;
    left: 33%;
  }

  #title img {
    height: auto;
    width: 400px;
  }

  header {
    left: 65px;
  }

  #char-search {
    top: 20%;
    left: 25%;
    width: 52%;
    border: none;
  }

  input[type=text] {
    font-size: 16pt;
    height: 30px;
    width: 250px;
  }

  #char-card {
    margin: 5em auto;
    width: 45%;
    box-shadow: 4px 4px 10px rgb(0,0,0);
    z-index: 10;
  }

  #char-info {
    margin-left: 3em;
    letter-spacing: 5px;
  }

  #char-image {
    width: 200px;
  }

  #char-image:hover {
    transform: scale(1.10);
    transition: all .7s ease-in-out;
  }

  #char-image img {
    margin-right: 3em;
  }

  #main-content {
    width: 100%;
    margin-top: 0;
    padding-top: 10em;
  }

  #floating-image {
    position: fixed;
    top: 2em;
    right: 5em;
    z-index: -1;
  }

  #floating-image2 {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 10% !important;
    z-index: -1;
  }

  /* <--- Styles for monster search card ---> */
  #monster-search {
    position: fixed;
    top: 90px;
    right: 3em;
    width: 35%;
    background: rgba(255,255,255,.7);
    color: rgb(0,0,0);
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(0,0,0);
    margin-top: 5em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: -1;
  }
  /*<-- End of styles for monster search card --->*/

  /* <--- Styles for monster info card ---> */
  #monster-card {
    position: fixed;
    top: 18em;
    right: 3em;
    width: 35%;
    height: 47%;
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(0,0,0);
    margin: auto;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: 10;
  }

  #monster-image {
    position: relative;
    width: 50%;
    height: auto;
  }

  #monster-card img {
    max-width: 90%;
    max-height: 90%;
  }

  #monster-info h5 {
    text-align: left;
    line-height: 10px;
    margin: 2em;
  }
  /* <--- End of styles for monster info card ---> */

  footer {
    font-size: 8pt;
    letter-spacing: 5px;
  }
}

/* <--- Media query for desktop view ---> */
@media only screen and (min-width: 1250px) {
  
  #inputOpen {
    color: rgba(0,0,0,.1);
    top: 32%;
    left: 45%;
  }

  #inputForm {
    width: 15%;
  }

  #title {
    position: fixed;
    top: 2%;
    left: 35%;
  }

  #title img {
    height: auto;
    width: 400px;
  }

  header {
    left: 65px;
  }

  #char-search {
    top: 20%;
    left: 25%;
    width: 48%;
    border: none;
  }

  input[type=text] {
    font-size: 16pt;
    height: 30px;
    width: 250px;
  }

  #char-card {
    margin: 5em auto;
    width: 45%;
    box-shadow: 4px 4px 10px rgb(0,0,0);
    z-index: 10;
  }

  #char-info {
    margin-left: 3em;
    letter-spacing: 5px;
  }

  #char-image {
    width: 200px;
    transition: all .7s ease-in-out;
  }

  #char-image:hover {
    transform: scale(1.10);
    transition: all .7s ease-in-out;
  }

  #char-image img {
    margin-right: 3em;
  }

  #main-content {
    width: 100%;
    margin-top: 0;
    padding-top: 10em;
  }

  #floating-image {
    position: fixed;
    top: 2em;
    right: 5em;
  }

  #floating-image2 {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 10% !important;
    z-index: -1;
  }

  /* <--- Styles for monster search card ---> */
  #monster-search {
    position: fixed;
    top: 90px;
    right: 5em;
    width: 35%;
    background: rgba(255,255,255,.7);
    color: rgb(0,0,0);
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(0,0,0);
    margin-top: 5em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: -1;
  }
  /*<-- End of styles for monster search card --->*/

  /* <--- Styles for monster info card ---> */
  #monster-card {
    position: fixed;
    top: 18em;
    right: 5em;
    width: 35%;
    height: 52%;
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(0,0,0);
    margin: auto;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: 10;
  }

  #monster-image {
    position: relative;
    margin: auto;
    width: 50%;
    height: auto;
  }

  #monster-card img {
    max-width: 80%;
    max-height: 80%;
  }

  #monster-image img:hover {
    transform: scale(2.00);
    transition: all 1s ease-in-out;
  }

  #monster-info h5 {
    text-align: left;
    line-height: 0;
    margin: 2em;
  }

  footer {
    font-size: 8pt;
    letter-spacing: 5px;
  }
}
/* <--- End of media queries --->*/