/* <--- Styles for main body html and content ---> */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: url("https://www.thefinalfantasy.com/gallery/wallpaper/ff14/ffxiv-wallpaper-2.jpg") bottom center no-repeat, rgb(220,220,220);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  color: white;
  font-family: "Raleway", serif;
}

#moogle {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 25%;
  z-index: -1;
}

.header {
  text-align: left;
}

#main-content {
  text-align: center; 
  width: 80%;  
  margin-bottom: 1em;
}

h1 {
  text-shadow: 2px 2px 2px #000;
  display: inline-block;
  font-size: 3em;
  line-height: 1.5em;
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
}

.header-logo {
  display: inline-block;
  padding-top: 15px;
  height: auto;
  width: 25px;
  vertical-align: middle;
}
/* <--- End of styles for main body html and content ---> */

/* <--- Styles for search box ---> */
input[type=text] {
  background: rgba(255, 255, 255, .0);
  border: none;
  border-bottom: 2px solid black;
  font-size: 16pt;
  height: 30px;
  width: 200px;
  padding-left: 5px;
}

.search-card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px black;
}

.search-card {
  width: 50%;
  background: rgba(255, 255, 255, .7);
  color: black;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: 5em;
  transition: all .2s ease-in-out;
  overflow: hidden;
}
/* <--- End of styles for search box ---> */

/* <--- Styles for character info card ---> */
.char-card {
  width: 50%;
  background: rgba(255, 255, 255, 255);
  color: black;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: 5em;
  transition: all .2s ease-in-out;
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
}

.char-info {
  margin: 1em;
  text-align: left;
  float: left;
  line-height: 1px;
}

.description {
  margin: 1em;
  text-align: left;
  float: left;
  line-height: 14px;
}

.char-image img {
  padding-top: 2%;
  padding-right: 10%;
  padding-bottom: 2%;
  float: right;
  height: auto;
  width: 35%;
}
/* <--- End of styles for character info card ---> */

.mobile {
  display: none;
}

/* <--- Media query for Smaller devices ---> */
@media(max-width: 700px) {
  .desktop {
    display: none;
  }

  .header-logo {
    padding-top: 3px;
    height: auto;
    width: 25px;
    vertical-align: middle;
  }

  h1 {
    letter-spacing: 10px;
  }
  .mobile {
    display: inline-block;
    font-size: 1em;
  }

  .search-card {
    width: 72%;
    margin-left: 2em;
  }

  input[type=text] {
    border-bottom: 2px solid black;
    font-size: 10pt;
    height: 30px;
    width: 200px;
    padding-left: 5px;
  }

  .char-card {
    width: 72%;
    margin-left: 2em;
  }

  .char-info {
    margin: 2%;
  }

  .description {
    margin: 2%;
  }

  .char-image img {
    padding: 2%;
  }

  #main-content {
    width: 100%;
    margin-top: 3em;
  }

  .header {
    margin-top: 2em;
  }
}
/* <--- End of media query --->*/

/* <--- Animation to control the floating moogle ---> */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: 1s, 2s;
  animation-duration: 1s, 2s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/* <--- End of animation for floating moogle --->*/