/* <--- Styles for main body html and content ---> */
.desktop {
  display: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 5px;
  left: 50px;
}

body {
  background: url("https://www.thefinalfantasy.com/gallery/wallpaper/ff14/ffxiv-wallpaper-2.jpg") center center no-repeat fixed, rgb(0, 0, 0);
  background-size: cover;
  color: rgb(255,255,255);
  font-family: "Raleway", serif;
}

#moogle {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 25%;
  z-index: -1;
}

#main-content {
  text-align: center; 
  width: 100%;  
  padding-top: 7em;
  margin-bottom: 1em;
}

h1 {
  text-shadow: 2px 2px 2px rgb(0,0,0);
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  margin-left: 1em;
  vertical-align: top;
  letter-spacing: 10px;
}

.mobile img {
  width: 200px;
  height: auto;
}
/* <--- End of styles for main body html and content ---> */

/* <--- Styles for search box ---> */
input[type="text"] {
  background: rgba(255,255,255,.0);
  border: none;
  border-bottom: 2px solid rgb(0,0,0);
  font-size: 16pt;
  height: 20px;
  width: 150px;
  padding-left: 5px;
}

.search-card {
  position: fixed;
  top: 100px;
  left: 3em;
  width: 70%;
  background: rgba(255,255,255,.7);
  color: rgb(0,0,0);
  box-shadow: 2px 2px 10px rgb(0,0,0);
  border-radius: 5px;
  margin: auto;
  transition: all .2s ease-in-out;
  overflow: hidden;
}
/* <--- End of styles for search box ---> */

/* <--- Styles for character info card ---> */
.char-card {
  position: relative;
  width: 90%;
  background: rgb(255,255,255);
  color: rgb(0,0,0);
  border-radius: 5px;
  margin-top: 6em;
  margin-right: auto;
  margin-left: auto;
  transition: all .2s ease-in-out;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgb(0,0,0);
  z-index: 1;
}

.char-info {
  margin: 5px;
  text-align: left;
  float: left;
  line-height: 1px;
  letter-spacing: 0px;
}

.description {
  margin: 5px;
  text-align: left;
  float: left;
  line-height: 14px;
}

.char-image {
  display: inline-block;
  float: right;
  margin: 5px;
  height: auto;
  width: 100px;
}

.char-image img {
  display: inline-block;
  float: right;
  margin: 5px;
  max-height: 100%;
  max-width: 100%;
}
/* <--- End of styles for character info card ---> */

/* <--- Styles for footer ---> */
footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  display: inline-block;
  font-size: 7pt;
  text-align: center;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 5px;
  vertical-align: middle;
  letter-spacing: 5px;
}
/* <--- End of styles for footer ---> */

/* <--- Animation to control the floating moogle ---> */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: 1s, 2s;
  animation-duration: 1s, 2s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/* <--- End of animation for floating moogle --->*/

/* <--- Media query for desktop view ---> */
@media(min-width: 700px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: inline-block;
  }

  .desktop img {
    height: auto;
    width: 400px;
  }

  header {
    left: 65px;
  }

  h1 {
    margin-left: 0.5em;
    font-size: 3em;
    letter-spacing: 10px;
  }

  .search-card {
    top: 170px;
    left: 5em;
    width: 50%;
  }

  input[type=text] {
    font-size: 16pt;
    height: 30px;
    padding-left: 5px;
  }

  .char-card {
    width: 60%;
    margin-left: 5em;
  }

  .char-image {
    width: 200px;
  }

  #main-content {
    width: 80%;
    margin-top: 0;
    padding-top: 10em;

  }
}
/* <--- End of media query --->*/