
<!-- Created by Jack F. Perry, Jr. -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Amatic+SC|Dancing+Script|Open+Sans+Condensed:300|Six+Caps|Special+Elite">
        <link rel="icon" href="images/moogleFavicon.png">
        <title>Final Fantasy Compendium</title>
    </head>

  <!-- Start of finalFantasyComp application -->
    <body ng-app="finalFantasyApp">
        <div id="background-image">
            <div id="title" class="flipInY"><img src="images/finalFantasyLogo.png"></div>
            <div id="main-content">

                <!-- Start of character controller -->
                <div ng-controller="characterController">
                    <div id="char-search" class="flipInY">
                        <input id="searchBar" type="text" ng-model="search.name" ng-minlength="3" placeholder=" enter a character...">
                    </div>
                    <div id="char-card" ng-repeat="character in filteredData = (characters | filter:search.name:strict) | limitTo:3" ng-hide="filteredData.length==characters.length">

                        <!-- Displaying character info from data in json file -->
                        <h2>{{character.name}}</h2>
                        <div id="char-info">
                            <h5>Age: {{character.age}}</h5>
                            <h5>Race: {{character.race}}</h5>
                            <h5>Gender: {{character.gender}}</h5>
                            <h5>Height: {{character.height}}</h5>
                            <h5>Weight: {{character.weight}}</h5>
                            <h5>Class: {{character.class}}</h5>
                            <h5>Origin: {{character.origin}}</h5>
                        </div>
                        <div id="char-image">
                            <img ng-src="{{character.image}}">
                        </div>
                        <h5 id="description">{{character.quote}}<br><br>
                        {{character.description}}</h5>
                    </div>

                <!-- Upcoming character input form
                    ****************************************
                <div id="inputForm">
                    <form id="form">
                    <label>Name: </label>
                    <input id="name" type="text"><br><br>                
                    <label>Age: </label>
                    <input id="age" type="text"><br><br>
                    <label>Race: </label>
                    <input type="text"><br><br>
                    <label>Class: </label>
                    <input type="text"><br><br>
                    <label for="height">Height: </label>
                    <select id="height" name="height">
                        <option value="Unknown">Unknown</option>
                        <option value="1.50m">1.50m</option>
                        <option value="1.51m">1.51m</option>
                        <option value="1.52m">1.52m</option>
                    </select><br><br>
                    <label for="weight">Weight: </label>
                    <select id="weight" name="weight">
                        <option value="Unknown">Unknown</option>
                        <option value="40kg">40kg</option>
                        <option value="41kg">41kg</option>
                        <option value="42kg">42kg</option>
                    </select><br><br>
                    <label for="gender">Gender: </label>
                    <select id="gender" name="gender">
                        <option value="Unknown">Unknown</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select><br><br>
                    <label for="origin">Origin: </label>
                    <select id="origin" name="origin">
                        <option value="Unknown">Unknown</option>
                        <option value="FFI">FFI</option>
                        <option value="FFII">FFII</option>
                        <option value="FFIII">FFIII</option>
                        <option value="FFIV">FFIV</option>
                        <option value="FFV">FFV</option>
                        <option value="FFVI">FFVI</option>
                        <option value="FFVII">FFVII</option>
                        <option value="FFVIII">FFVIII</option>
                        <option value="FFIX">FFIX</option>
                        <option value="FFX">FFX</option>
                        <option value="FFX-2">FFX-2</option>
                        <option value="FFXII">FFXII</option>
                        <option value="FFXIII">FFXIII</option>
                        <option value="FFXIII-2">FFXIII-2</option>
                        <option value="FFXV">FFXV</option>
                    </select><br><br>
                    <div id="inputClose">close x</div>
                    <div id="inputSubmit">submit</div>                    
                    <div id="dataSent">This isn't working yet :(</div>
                    </form>
                </div>
                <div id="inputOpen">character input form</div> 
                    ****************************************-->
                    
                </div>
            </div>
            <footer>&copy;2018 jack f. perry, jr.</footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="angularIndex.js"></script>        
        <script src="index.js"></script>
    </body>
</html>